.share-message
  background-color: whiteSmoke
  padding: 0 5px
  //border: 1px solid #ccc
    
  .message
    margin: 5px 0
  
  button, textarea, input
    border-radius: 5px
    line-height: 1.5em
  
  textarea, input
    border: 1px solid #888
    resize: none
    outline: none
    width: 100%
    background-color: white
  
  .more
    display: none
    padding: 0 100px 5px 0

  .share-with
    width: 100%
    float: left
    line-height: 1em // Overwrite to work better with instant

  .share
    float: right
    margin-right: -100px
    width: 95px
    height: 28px
    background-color: #8EDD20
    border: 1px solid #66A11C
    color: #66A11C
    

