html 
  head
    title test dialogs
    link(href='/ui/dialogs/jay.css', rel='stylesheet')
  body
    h2 Dialog Tests
    button.join Join Dialog
    div.out
      
    script(src='/ui/dialogs/jay.js', type='text/javascript')
