.message-header
  background-color: whiteSmoke
  border: 1px solid gray
  padding: 10px
  
  div
    float: left
    margin: 0 10px
  
  .author 
    color: blue
  
  .message
    color: gray
  
  .groups
    float: right
  
  .date
    float: right
    color: gray
  