.group-list
  border: 1px solid gray
  background-color: whiteSmoke
  padding: 10px

.group
  clear: both
  padding: 3px 0
  
  div
    float: left
    
  .color
    width: 15px
    height: 15px
    
  .name
    margin-left: 10px
    color: gray