/*
	base.styl

	This stylesheet defines the base classes. Application fonts, 
	layouts, etc.

  Ideally this would be dropped in any page - think of it like
  twitter's bootstrap. Isn't tied to the twitter application.
*/
@import "nib/clearfix"

.clearfix {
  clearfix();
}