extends ../layout/layout

append styles
  link(href='/views/index/jay.css', rel='stylesheet')

append scripts
  script(type='text/javascript', src='/engine.io.js')
  script(type='text/javascript')
    window.user = !{user}
    window.messages = !{messages}
  script(src='/views/index/jay.js', type='text/javascript')

block content
  #wrapper
    #top
      .logo Nimbis
    #container
      #left
        button.join Join Group
        button.create Creat Group
      #middle
      #right

    #dialog-container
