extends ../layout/layout

prepend scripts
  script(type='text/javascript', src='engine.io.js')
  script(type='text/javascript')
    window.user = !{user}
    window.messages = !{messages}

block content
  #wrapper
    #top
      .logo Nimbis
    #container
      #left
        button.join Join Group
      #middle
      #right

    #dialog-container
