<!-- Load Library -->
<include src = "../index.html" />

<!-- HTML -->
<div id="wrapper"></div>

<!-- Example -->
<script type="text/javascript" charset="utf-8">
  /*
    Test comments
  */
  var comment1 = new app.m.Comment({
    author : "Matt",
    comment : "this is cool"
  });
  var comment2 = new app.m.Comment({
    author : "Jon",
    comment : "I know, right?" 
  });
  
  var commentCollection = new app.c.Comments([comment1, comment2]);

  var List = new app.v.List();
  List.collection = commentCollection;
  
  $('#wrapper').append(List.render().el)
  
</script>