.share-comment
  background-color: whiteSmoke
  padding: 5px
  border: 1px solid #ccc

  .comment
    border-radius: 5px
    line-height: 1.5em
    width: 100%
    background-color: white
    border: 1px solid #888
    resize: none
    outline: none
