/*
  base.styl

  This stylesheet defines the base classes. Application fonts, 
  layouts, etc.

  Ideally this would be dropped in any page - think of it like
  twitter's bootstrap. Isn't tied to the twitter application.
*/

@import "nib/clearfix"

* {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.clearfix {
  clearfix();
}

html, body
  height: 100%
  width: 100%
