!!!
html
  head
    title Nimbis
    meta(charset="utf-8")

    block styles
      link(href="/index/jay.css", rel="stylesheet")
  
  body
    block content    

    block scripts
      script(src="/index/jay.js", type="text/javascript")
