.message-header
  background-color: white
  padding: 9px 6px 6px 6px
  border-bottom: 1px solid black
  margin-bottom: 10px

  .author 
    color: blue
  
  .message
    color: gray
  
  .groups
    float: left

    .group
      color white
      font-size : 10px
      font-weight: bold
      wrap: nowrap
      margin 0px 2px
      padding 3px 10px
      text-transform uppercase
      border-radius 5px

  .date
    float: right
    color: gray
  