.message-header
  background-color: whiteSmoke
  border: 1px solid gray
  padding: 10px
  
  div
    float: left
    margin: 0 10px
  
  .author 
    color: blue
  
  .message
    color: gray
  
  .groups
    float: right

    .group
      color white
      font-size : 10px
      font-weight: bold
      wrap: nowrap
      margin 0px 2px
      padding 3px 10px
      text-transform uppercase
      border-radius 5px

  .date
    float: right
    color: gray
  