<!doctype html>
<html lang="en">
<head>
  <title>nimbis</title>
  
  <!-- Application level stylesheets -->
  <link href="/vendor/normalize.css" type="text/css" rel="stylesheet" />
  <link href="layout.styl" type="text/css" rel="stylesheet" />
  
  <!-- Application level scripts -->
  <script src="app.js" type="text/javascript"></script>
  
  <!-- Load in main libraries -->
  <script src="/vendor/jquery.js" type="text/javascript"></script>
  <script src="/vendor/underscore.js" type="text/javascript"></script>
  <script src="/vendor/backbone.js" type="text/javascript"></script>
  
</head>
<body>
  
  <!-- Yield application content-->
  <yield />
  
</body>
</html>
