.message-list
  border: 1px solid gray
  background-color: whiteSmoke
  // padding: 10px

.message-container
  clear: both
  padding: 3px 0
  border-bottom: 1px solid gray
  
  &:last-child
    border-bottom: none
  
  div
    float: left
    padding: 0 3px
    
  .message
    margin-left: 10px
    color: gray
    
  .groups
    font-size: small
    
  .comments
    float: right