h2 Login

form(action='/login', method='post')
  p email: 
    input(type='text', name='email', value='matt@matt.com')
  p password: 
    input(type='text', name='password', value='test')
  p
    input(type='submit') 
