<!-- Load ShareComment -->
<include src="../index.html" />

<!-- Load CommentList -->
<include src="/CommentList/index.html" />

<div id="wrapper">
  <div id="comments"></div>
  <br />
  <div id="comment-box"></div>
</div>

<script type="text/javascript" charset="utf-8">
  /*
    Test comments
  */
  var c1 = new app.m.Comment({
    author : "Matt",
    comment : "this is cool"
  });
  var c2 = new app.m.Comment({
    author : "Jon",
    comment : "I know, right?" 
  });
  
  var commentCollection = new app.c.Comments([c1, c2]);
    
  var shareView = new app.v.ShareComment();
  shareView.collection = commentCollection;
  
  var commentsView = new app.v.CommentList();
  commentsView.collection = commentCollection;
  
  $('#comments').append(commentsView.render().el);
  $('#comment-box').append(shareView.render().el);
  
</script>