<include src="../index.html" />

<!-- Include ShareMessage -->
<include src="/views/ShareMessage/index.html" />

<!--Include MessageHeader -->
<include src="/views/MessageHeader/index.html" />

<!-- Include CommentList -->
<include src="/views/CommentList/index.html" />

<!-- Include ShareComment -->
<include src="/views/ShareComment/index.html" />

<!-- HTML -->
<div id="wrapper" style = "width: 100%">
  <div id="inbox" style = "width: 50%; float: left;"></div>
  <div id="chatWindow" style = "width: 50%; float: left;"></div>
</div>

<!-- Runner -->
<script type="text/javascript" charset="utf-8">
  /*
    Test messages
  */
var m1 = App.JSON.messages[0],
    m2 = App.JSON.messages[1],
    groups = App.JSON.groups,
    comments = App.JSON.comments;
  // console.log(groups[1]);
  m1.groups = new App.Collections.Groups([groups[0], groups[2]]);
  m2.groups = new App.Collections.Groups([groups[1], groups[3]]);

  m1.comments = new App.Collections.Comments([comments[1]]);
  m2.comments = new App.Collections.Comments([comments[0]]);
  
  var messageCollection = new App.Collections.Messages([m1, m2]);
  
  var shareMessage = new App.Views.ShareMessage();
  shareMessage.collection = messageCollection;
  
  var messageView = new App.Views.MessageList();
  messageView.collection = messageCollection;
  
  $('#inbox').append(shareMessage.render().el)
             .append(messageView.render().el);
  
  // PUBLIC API: Load the message
  App.on('message-list:open', function(model) {
    // Get the message's comments collection
    var comments = model.comments();
    
    // Build the MessageHeader view
    var messageHeader = new App.Views.MessageHeader();
    messageHeader.model = model;
    
    // Build the CommentList view
    var commentList = new App.Views.CommentList();
    commentList.collection = comments;
    
    // Build the ShareComment view
    var shareComment = new App.Views.ShareComment();
    shareComment.collection = comments;
    
    var $el = $('<div></div>');

    $el.append(messageHeader.render().el);
    $el.append(commentList.render().el);
    $el.append(shareComment.render().el);
    
    $('#chatWindow').html($el);
  });
  
  
</script>