<include src="../index.html" />

<!-- HTML -->
<div id="wrapper"></div>

<!-- Test Data -->
<!-- <script src="//messages.json"></script> -->

<!-- Runner -->
<script type="text/javascript" charset="utf-8">
  /*
    Test messages
  */
  var data = App.JSON;

  var messages = data.messages,
      groups   = data.groups,
      comments = data.comments;

  messages[0].groups = new App.Collections.Groups([groups[0]]);
  messages[0].comments = new App.Collections.Comments([comments[1]])
  messages[0].date = 'yesterday';

  messages[1].groups = new App.Collections.Groups([groups[1], groups[2]]);
  messages[1].comments = new App.Collections.Comments([comments[0], comments[2]])
  messages[1].date = 'today';
  
  var messageCollection = new App.Collections.Messages(messages);
  
  var messageView = new App.Views.MessageList();
  messageView.collection = messageCollection;
  
  $('#wrapper').append(messageView.render().el);
  
  
  
  
</script>