@import "nib/clearfix"
@import "nib/gradients"

/*
  Main
*/
#groups-container
  clearfix()
  border-right: 1px solid #a8aeb3
  height: 100%
  background-color: #ebf2f8
  // background-image url("images/texture-final.png")
  
/*
  Inner
*/
#groups-container
  
  .header
    background-color: #e7e7e7
    background: linear-gradient(top, #f3f3f3, #d7d7d7)
    height: 24px
    border-top: 1px solid #b7b7b7
    border-bottom: 1px solid #b7b7b7
    font-size: small
    text-transform: uppercase
    text-shadow: white 0 1px 0
    color: #777
    padding: 0px 5px
    
  .title
    float: left
    line-height: 28px    
    
  .add
    float: right
    cursor: pointer
    line-height: 24px
    
    