<!-- Style -->
<link href="groups.styl" rel="stylesheet" />

<!-- Templates -->
<script id ="group" src="templates/group.mu" type="text/template"></script>
<script id ="groups" src="templates/groups.mu" type="text/template"></script>

<!-- HTML -->
<div id="groups-container"></div>

<!-- Backbone Views -->
<script src="views/groups.js" type="text/javascript" charset="utf-8"></script>

<!-- Test data -->
<script type="text/javascript" charset="utf-8">
  var g1 = new n.models.Group({
    color : 'blue',
    name : 'Finance'
  });

  var g2 = new n.models.Group({
    color : 'red',
    name : 'Soccer'
  });
  
  var groups = new n.collections.Groups([g1, g2]);

  var view = new n.views.Groups({
    collection : groups,
    title : "Groups"
  });
  
  $('#groups-container').html(view.render().el);
</script>